<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>duda-chat</title>
    <style>
        .chatbox {
            display: flex;
            flex-direction: column;
        }
        .chatbox span {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="chatbox">

    </div>
    <div>
        <form>
            <input type="text" placeholder="nome">
            <input type="text" placeholder="mensagem">
            <button type="submit">enviar</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.onload = function() {
            const socket = io('https://duda-chat.herokuapp.com/');

            function addToChat(msg){
                const span = document.createElement("span");
                const chat = document.querySelector(".chatbox");
                span.innerHTML = `<strong>${msg.name}</strong>: ${msg.message}`;
                chat.append(span);
            }

            socket.on('connect', () => {
                socket.send('Usuário conectado ao socket');
            });

            document.querySelector("form").addEventListener("submit", function(event) {
                event.preventDefault();
                const name = event.target[0].value;
                const message = event.target[1].value;
                socket.emit('sendMessage', { name, message });
                event.target[0].value = '';
                event.target[1].value = '';
            });

            socket.on('getMessage', (msg) => {
                addToChat(msg);
            });

            socket.on('message', (msgs) => {
                for (const msg of msgs) {
                    addToChat(msg);
                }
            });
        }
    </script>
</body>
</html>
